<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css"
            rel="stylesheet">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="static\css\cesta.css">

        <style>
            /* Estiliza a barra de rolagem */
            ::-webkit-scrollbar {
                width: 5%;
                height: 20px;
                /* Largura da barra de rolagem */
                background-color: transparent;
                /* Fundo transparente */
            }

            /* Estiliza o polegar da barra de rolagem */
            ::-webkit-scrollbar-thumb {
                background-color: white;
                /* Cor branca para o polegar */
                border-radius: 4px;
                /* Borda arredondada para o polegar */
            }
        </style>

        <title>Cesta</title>
    </head>

    <body
        class="min-h-screen flex items-center justify-center bg-red-900 bg-opacity-30">

        <main
            class="grid grid-cols-11 grid-rows-6 sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 sm:h-3/4 md:h-2/3 lg:h-1/2 xl:h-2/5"
            style="width: 900px; height: 600px;">

            <!-- Superior -->
            <aside
                class="flex justify-between items-end p-1 pb-1 pt-2 pl-2 superior">

                <div class="flex items-center">
                    <!-- Campo de pesquisa visível em telas médias e maiores  -->
                    <i
                        class="bi bi-search text-black absolute left-3 top-1/2 transform -translate-y-1/2 hidden sm:block sm:static sm:translate-y-0 sm:mr-2"></i>
                    <input type="text"
                        class="pl-10 pr-2 py-1 sm:py-2 lg:py-3 border border-gray-300 rounded-full w-1/2 sm:w-3/4 lg:w-4/5 h-1/2 sm:h-10 lg:h-12"
                        placeholder="Pesquisar...">

                    <button
                        class="ml-2 pl-3 pr-3 pt-2 pb-2 bg-red-900 bg-opacity-20 rounded-2xl hover:bg-opacity-30">
                        <i class="bi bi-funnel-fill"></i>
                    </button>
                </div>
                <div>
                    <a href="/">
                        <button
                            class="ml-2 pl-3 pr-3 pt-2 pb-2 bg-red-900 bg-opacity-20 rounded-2xl hover:bg-opacity-30">

                            <i class="bi bi-house-fill"></i>

                        </button>
                    </a>
                </div>

            </aside>

            <aside
                class="painel flex flex-wrap justify-around h-auto w-ful bg-red-900 bg-opacity-10 break-words rounded-3xl space-x-1">

                <!-- Ajuste de espaçamento do aside -->
                <div
                    class="flex flex-col w-full h-3/5 p-1 bg-red-900 bg-opacity-10 m-5 rounded-3xl overflow-y-auto">

                    <div class="w-full h-1/5 p-2 overflow-y-auto"
                        style="height: 500px;">
                        <table class="min-w-full" id="tabela_prod">
                            <thead class="opacity-0">
                                <tr>
                                    <th
                                        class=" w-4/5 text-left text-xs font-medium tracking-wider"></th>
                                    <th
                                        class="w-1/5 text-left text-xs font-medium uppercase tracking-wider"></th>
                                    <th
                                        class="w-1/5 text-left text-xs font-medium uppercase tracking-wider"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="produto-row">
                                    <td
                                        class=" w-4/5 whitespace-no-wrap ">
                                        <h3 class="text-lg font-semibold">Coxinha</h3>

                                    </td>
                                    <td
                                        class="w-1/5 whitespace-no-wrap align-middle text-center text-center flex flex-row">

                                        <button
                                            class="p-1 rounded-md hover:text-white mr-2 menos">-</button>
                                        <span class="text-lg font-semibold quantidade">1</span>
                                        <button
                                            class="px-2 py-1 rounded-md hover:text-white ml-2 mais">+</button>

                                    </td>
                                    <td
                                        class="w-1/5 whitespace-no-wrap align-middle text-center">
                                        <span class="text-lg font-semibold">R$<span
                                                class="valor_produto">10,00</span>
                                        </span>

                                    </td>
                                </tr>

                                <tr class="produto-row">
                                    <td
                                        class=" w-4/5 whitespace-no-wrap ">
                                        <h3 class="text-lg font-semibold">Guaravita</h3>

                                    </td>
                                    <td
                                        class="w-1/5 whitespace-no-wrap align-middle text-center text-center flex flex-row">

                                        <button
                                            class="p-1 rounded-md hover:text-white mr-2 menos">-</button>
                                        <span class="text-lg font-semibold quantidade">1</span>
                                        <button
                                            class="px-2 py-1 rounded-md hover:text-white ml-2 mais">+</button>

                                    </td>
                                    <td
                                        class="w-1/5 whitespace-no-wrap align-middle text-center">
                                        <span class="text-lg font-semibold">R$<span
                                                class="valor_produto">3,25</span>
                                        </span>

                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="w-full h-1/5 text-right pr-2">
                        <span class="text-lg font-semibold mr-10">Total: </span>

                        <span class="text-lg font-semibold ">R$<span
                                id="valor_total">0,00</span>
                        </div>
                    </div>

                    <div class="relative w-full h-auto  m-5 p-10">
                        <!-- Botão com função de remover todos os produtos da cesta -->
                        <button
                            class="font-bold bg-red-900 bg-opacity-20 p-1 ml-5 rounded absolute top-0 left-0 m-2 hover:bg-opacity-30"
                            id="esvaziar">
                            Esvaziar Cesta
                        </button>

                        <!-- Botão com função de finalizar o pedido e gerar o qr-code do mesmo, após fechar o qr-code a cesta é esvaziada -->
                        <button
                            class="font-bold bg-red-900 bg-opacity-20 p-1 mr-5 rounded absolute top-0 right-0 m-2 hover:bg-opacity-30"
                            id="finalizar">
                            Finalizar Compra
                        </button>
                    </div>

                </aside>

            </main>

            <script src="static/js/principal.js"></script>
            <script src="static/js/cesta_grid_prod.js"></script>
        </body>

    </html>